{% extends 'core/mainBase.html' %}

{% block title %} My account{% endblock title %}

{% block content %}


    <h1 class="text-2xl"> <strong>{{request.user}}'s</strong> account </h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseExample">
        Show account Info
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="." method="post"  class="space-y-5">
                {% csrf_token %}
                {{form.as_p}}
                {{customer_form.country.label}}
                <select name="country" id="country-select" class="form-control">
                    <option value="">-- Select a country --</option>
                  </select>
                {{customer_form.as_p}}
                <button class="mt-6 py-4 px-8 btn btn-success">Submit</button>
            </form>
        </div>
    </div>


{% endblock content%}


{% block scripts %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const countrySelect = document.getElementById('country-select');
            const countryInput = document.getElementById('id_country');
            const countryLabel = document.querySelector('label[for="id_country"]');
            countryLabel.setAttribute('hidden', '');
            countryInput.setAttribute('hidden', '');
        
            // fetch list of countries
            fetch('https://restcountries.com/v2/all')
              .then(response => response.json())
              .then(data => {
                // generate options for country select element
                const options = data.map(country => {
                  return `<option value="${country.alpha2Code}">${country.name}</option>`
                })
                // add options to country select element
                countrySelect.innerHTML += options.join('');
        
                // check if country input has valid value and select it in country select
                if (/^[A-Za-z]{2}$/.test(countryInput.value)) {
                  const countryCode = countryInput.value.toUpperCase();
                  countrySelect.value = countryCode;
                }
              })
              .catch(error => {
                console.error(error)
              })
        
            // add event listener to country select element
            countrySelect.addEventListener('change', () => {
              countryInput.value = countrySelect.value; // update country input value
            })
          })
        
    </script>

{% endblock scripts %}

