{% extends 'core/mainBase.html' %}

{% block title %} {{title}} product{% endblock title %}

{% block content %}
    <h1 class="text-2xl"> {{title}} product</h1>
    <figure class="img-fluid" style="width: 20%;" >
      <img src="{{ product.get_thumbnail }}" alt="">
    </figure>
    <form action="." method="post" enctype="multipart/form-data" class="space-y-5">
        {% csrf_token %}
        {% for field in form %}
        {% if field.errors %}
            <div class="error">
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endfor %}
        {{form.category}}
        {{form.title}}
        {{form.description}}
        
        <div class="row">
          <div class="col-2">{{form.price}}$ <span id="display-price"></span></div>
          
        </div>
        
        <hr>
        <br>
        <br>
        
        {{form.image.label}}
        {{form.image}}
        {{form.status}}
        {{form.discount}}
        {{form.id_stripe}}
        <hr>
        <h2>Extra Images</h2>  
        {% for form in carouselFormSet %}
          <div style="padding: 10px;">
            {{ form.image }}
            <div style="border-bottom: 1px solid black;">
              {{ form.caption }}
            </div>
          </div>
        {% endfor %}
        {{ carouselFormSet.non_form_errors }}
        {{ carouselFormSet.management_form }}

        
        <button class="btn btn-success">Submit</button>
    </form>
    {% if product %}
      <a href="{% url 'delete_product' product.id %}" class="mt-2 inline-block py-4 px-8 bg-red-500 text-white"> Delete product</a>
    {% endif %}
{% endblock content %}


{% block scripts %}
<script>
  const form = document.querySelector('form');
  const priceInput = document.querySelector('#id_price');
  const displayPrice = document.querySelector('#display-price');
  window.addEventListener('load', function() {
      displayPrice.textContent = (priceInput.value / 100).toFixed(2);
  });

  priceInput.addEventListener('input', function() {
    displayPrice.textContent = (priceInput.value / 100).toFixed(2);
    
  });
</script>
{% endblock scripts %}