{% extends 'core/mainBase.html' %}

{% block title %} Vendor Sign up{% endblock title %}

{% block content %}
    <h1 class="text-2xl">Vendor Sign up</h1>

    <form action="." method="post">
        {% csrf_token %}
        {% include 'userprofile/partials/user_creation_form.html' %}

{% comment "form creationForm for test"%}        
        <div class="mb-6 bg-teal-500 border border-Teal-800 text-teal-1200 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-850 block w-full p-2.5 dark:bg-teal-1400 dark:border-teal-1200 dark:placeholder-teal-800 dark:text-white dark:focus:ring-blue-1000 dark:focus:border-blue-1000">
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
            <p>{{form.username.help_text}}</p>            
        </div>
        
        <div class="mb-6 bg-teal-500 border border-Teal-800 text-teal-1200 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-850 block w-full p-2.5 dark:bg-teal-1400 dark:border-teal-1200 dark:placeholder-teal-800 dark:text-white dark:focus:ring-blue-1000 dark:focus:border-blue-1000">
            {{ form.password1.errors }}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            <p>{{form.password1.help_text}}</p>            
        </div>
       
        <div class="mb-6 bg-teal-500 border border-Teal-800 text-teal-1200 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-850 block w-full p-2.5 dark:bg-teal-1400 dark:border-teal-1200 dark:placeholder-teal-800 dark:text-white dark:focus:ring-blue-1000 dark:focus:border-blue-1000">
            {{ form.password2.errors }}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <p>{{form.password2.help_text}}</p>            
        </div>
{% endcomment %}
        
        <div class="form-row">
            {{ form.user.errors }}
            {{ form.user }}
        </div>
        <div class="flex items-start mb-6 bg-teal-500 border border-Teal-800 text-teal-1200 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-850 block w-full p-2.5 dark:bg-teal-1400 dark:border-teal-1200 dark:placeholder-teal-800 dark:text-white dark:focus:ring-blue-1000 dark:focus:border-blue-1000">
            {{ form.is_vendor.errors }}
            <div class="flex items-center h-5">
                {{ form.is_vendor }}
            </div>
            <div class="ml-2 text-sm font-medium text-white-900 dark:text-white-300">
                {{ form.is_vendor.label_tag }} 
            </div>
            
        </div>
        <div id="rfc_div" class="mb-6 bg-teal-500 border border-Teal-800 text-teal-1200 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-850 block w-full p-2.5 dark:bg-teal-1400 dark:border-teal-1200 dark:placeholder-teal-800 dark:text-white dark:focus:ring-blue-1000 dark:focus:border-blue-1000">
            {{ form.RFC.errors }}                                        
            {{ form.RFC.label_tag }} {{ form.RFC }}
            <p>{{form.RFC.help_text}}</p>
        </div>
        <button type="submit" class="py-4 px-8 bg-teal-800 text-white rounded">Sign up</button>
    </form>
{% endblock content %}


{% block scripts %}

    <script>
        
        window.addEventListener('load', (event)=>{
            if(!document.getElementById('id_is_vendor').checked)
            {
                rfc_div.style.display="none"
            }else{
                rfc_div.style.display="block"
            }
        })
        
        let id_is_vendor = document.getElementById('id_is_vendor').addEventListener('click',(e)=>{
            
            if(!document.getElementById('id_is_vendor').checked){
                rfc_div.style.display="none"
                id_RFC.required=false
            }else{
                id_RFC.required=true
                rfc_div.style.display="block"
            }
            console.log(`{% url 'myaccount' %}`)                        

        })
        
    </script>

{% endblock scripts %}