{% extends 'core/base.html' %}
{% block title %} {{product.title}} {% endblock title %}


{% block extraHead %}

<style>
  .sectionContainer {
    display: flex;
    flex-direction: row;
    
  }
  .section1 {
    
  
    box-sizing: border-box;
  }
  .section2 {
    
    
    box-sizing: border-box;
  }
</style>

{% endblock extraHead %}

{% block content %}


<div class="sectionContainer">
  <section class="pt-4 pb-4 section1">
    <div class="bg-white border rounded-5">
      <section class="p-4 text-center w-100 " >
      
        <div id="carouselExampleIndicators" class="" >
          {% if product.image %}
            <div class="carousel-indicators">
              <button class="carouselIndicators active"
              id="0"
              type="button"
              ></button>
            </div>
          {% endif %}
          <div class="carousel-indicators">
            {% for i in product.carousel.all %}      
              <button 
                class="carouselIndicators"
                id="{{i.id}}"
                type="button"
                ></button>      
            {% endfor %}          
          </div>

          <div class="carousel-inner">
            {% if product.image %}
              <div id="0" class="carousel-item active">
                <img src="{{product.image.url}}" class="d-block w-100" alt="product img"/>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Main Product IMG</h5>          
                </div>
              </div>
            {% endif %}
            {% for i in product.carousel.all %}
              <!-- Single item -->
              <div id="{{i.id}}" class="carousel-item">
                <img src="{{i.image.url}}" class="d-block w-100" alt="{{i.caption}}"/>
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{i.caption}}</h5>          
                </div>
              </div>
            {% endfor %}
            
          </div>
        </div>
      
        <button class="prev" type="button" >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="next" type="button" >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </section>
    </div>
  </section>
    
    
  <section class="p-4 w-100 section2">
    <h1 class="text-xl">{{product.title}}</h1>
    <p class="text-xs text-gray-500">
        $ {{product.get_display_price}}
        -
        <a href="{% url 'vendor_detail' product.user.id %}"> {% firstof product.user.get_full_name product.user.username %} </a>
    </p>
    {% if product.description %}
        <p class="mt-4 mb-4">{{product.description}}</p>
    {% endif %}
        
    <p class="mt-4 mb-4"> <a href="{% url 'category_detail' product.category.slug %}"> <strong>{{product.category}}</strong></a></p>
    
    {% if request.user == product.user %}
        <button onclick="check_add_to_cart(event)"  type="button" 
        class="px-6
        py-2.5
        bg-teal-500
        text-white
        font-medium
        text-xs
        4   leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-teal-600 hover:shadow-lg
        focus:bg-teal-600 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-teal-700 active:shadow-lg
        transition
        duration-150
        ease-in-out
        ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
        >Add to cart</button>
    
        <!--Includes th modal to the htlm if condition-->
        {% include 'store/partials/modal_alert.html' %}
    
    {% else %}
        <a id="add_to_cart" href="{% url 'add_to_cart' product.id %}" class="px-6
        py-2.5
        bg-teal-500
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-teal-600 hover:shadow-lg
        focus:bg-teal-600 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-teal-700 active:shadow-lg
        transition
        duration-150
        ease-in-out
        ml-1">Add to cart</a>    
    {% endif %}
  </section>
</div>  






{% endblock content %}
{% block scripts %}
<script>
// Get the carousel elements
var carouselInner = document.querySelector('.carousel-inner');
var carouselIndicators = document.querySelectorAll('.carouselIndicators');

// Get the current active carousel item
var activeItem = carouselInner.querySelector('.active');

// Function to change the active item
function changeActive(newActiveItem) {
  // Remove the active class from the current active item
  activeItem.classList.remove('active');

  // Add the active class to the new active item
  newActiveItem.classList.add('active');

  // Update the current active item
  activeItem = newActiveItem;

  // Remove the active class from the current active indicator
  var activeIndicator = document.querySelector('.active.carouselIndicators');
  activeIndicator.classList.remove('active');

  // Add the active class to the corresponding indicator of the new active item
  var newActiveIndicator = document.getElementById(newActiveItem.id);
  newActiveIndicator.classList.add('active');
}

// Handle the click event of the carousel controls
var carouselControlPrev = document.querySelector('.prev');
var carouselControlNext = document.querySelector('.next');

carouselControlPrev.addEventListener('click', function() {
  // Get the previous item
  var prevItem = activeItem.previousElementSibling;
  if (!prevItem) {
    prevItem = carouselInner.lastElementChild;
  }

  // Change the active item to the previous item
  changeActive(prevItem);
});

carouselControlNext.addEventListener('click', function() {
  // Get the next item
  var nextItem = activeItem.nextElementSibling;
  if (!nextItem) {
    nextItem = carouselInner.firstElementChild;
  }

  // Change the active item to the next item
  changeActive(nextItem);
});

// Handle the click event of the carousel indicators
carouselIndicators.forEach(function(indicator) {
  indicator.addEventListener('click', function() {
    // Get the corresponding carousel item of the indicator
    var indicatorItem = document.getElementById(indicator.id);

    // Change the active item to the corresponding item of the indicator
    changeActive(indicatorItem);
  });
});

</script>
{% endblock scripts %}


{% comment %}
{% block content %}
    {% if product.image %}
        <div class="image mb-4">
            <img class="object-scale-down object-cover h-96 w-192" src="{{product.image.url}}" alt="Image of {{product.title}}">
        </div>
    {% endif %}    
    <h1 class="text-xl">{{product.title}}</h1>
    <p class="text-xs text-gray-500">
        $ {{product.get_display_price}}
        -
        <a href="{% url 'vendor_detail' product.user.id %}"> {% firstof product.user.get_full_name product.user.username %} </a>
    </p>
    {% if product.description %}
        <p class="mt-4 mb-4">{{product.description}}</p>
    {% endif %}
        
    <p class="mt-4 mb-4"> <a href="{% url 'category_detail' product.category.slug %}"> <strong>{{product.category}}</strong></a></p>

    {% if request.user == product.user %}
        <button onclick="check_add_to_cart(event)"  type="button" 
        class="px-6
        py-2.5
        bg-teal-500
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-teal-600 hover:shadow-lg
        focus:bg-teal-600 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-teal-700 active:shadow-lg
        transition
        duration-150
        ease-in-out
        ml-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
        >Add to cart</button>
    
        <!--Includes th modal to the htlm if condition-->
        {% include 'store/partials/modal_alert.html' %}

    {% else %}
        <a id="add_to_cart" href="{% url 'add_to_cart' product.id %}" class="px-6
        py-2.5
        bg-teal-500
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-teal-600 hover:shadow-lg
        focus:bg-teal-600 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-teal-700 active:shadow-lg
        transition
        duration-150
        ease-in-out
        ml-1">Add to cart</a>    
    {% endif %}
        
    

{% endblock content %}

{% endcomment %}
