{% extends 'core/base.html' %}


{% block title %}Success {% endblock title %}

{% block content %}
    <h1 class="mb-6 text-xl"> Success </h1>
    <p>Thank you for shopping with us!</p>
    
    <!--Used to make csrftoken appers in html template-->
    {{form.as_hidden}}

    <div class="flex flex-col">        
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 ">
            <table class="table">
                <thead class="bg-teal-600">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">                      
                        # orders                      
                    </th>
                    <th class="text-sm font-medium text-white px-6 py-4">
                        verified? 
                    </th>
                    <th class="text-sm font-medium text-white px-6 py-4">
                      Name
                    </th>
                    <th class="text-sm font-medium text-white px-6 py-4">
                      address
                    </th>
                    <th class="text-sm font-medium text-white px-6 py-4">
                      paid amount
                    </th>
                    <th class="text-sm font-medium text-white px-6 py-4">
                        -
                    </th>
                  </tr>
                </thead >
                <tbody>
                    {% for order in orders %}        
                        
                            <tr class="bg-white border-b">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {% if not order.is_paid %}
                                        <button onclick="verified(event, '{{order.payment_intent}}')" class="py-4 px-8 bg-teal-500 text-white hover:bg-teal-800 rounded-xl">
                                            {{order.payment_intent}} 
                                        </button>
                                    {% else %}
                                        {{order.payment_intent}}
                                    {% endif %}                                    
                                </td>
                                <td class="{% if order.is_paid %}text-teal-600{% else %} {% endif %} text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {% if order.is_paid %}
                                        verified
                                    {% else %}    
                                        not verified
                                    {% endif %}                                                                
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{order.first_name}} {{order.last_name}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    {{order.address}}, {{order.zipcode}}, {{order.city}}
                                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                    ${{order.get_display_price}}
                                </td>
                                {% if not order.is_paid %}
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {% include "store/partials/actions_dropdownBtn.html" %}   
                                        {% include 'store/partials/modal.html' %}                                                                             
                                    </td>                                
                                {% endif %}
                                
                            </tr class="bg-white border-b">                                                                                                                               
                               
                    {% endfor %}                                                     
                </tbody>
            </table>          
        </div>
    </div>


    

{% endblock content %}


{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>

<script>
    function verified(event, id){
        
        let data = {'payment_intent':id}
        fetch('verified/',{
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            credentials:'same-origin',
            body: JSON.stringify(data)
        })
        .then(function(response){
            return response.json()
        })        
        .then(function(result){
            
            
            if(result.error){
                alert('1)',result.error.message)
            
            }else{
                location.reload();
            }
        })
        .catch(function(error){
            alert('2)', error)
        });
    }

    function loadOrder(event,id, del=false){
        console.log('loadOrder', id, del)
    
        let url = `Orders/${id}`
        if(del==true){
            url +='/?del=True'
        }
        //fetch(`Orders/${id}/`, {
        fetch(url, {
            method: 'GET',
            headers:{
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{csrf_token}}'
            },
            //credentials:'same-origin',
            
            
        })
        .then(function(response){
            return response.json()
        })
       
        .then(function(result){
            if(del==true){
                location.reload();
                return
            }
            if(result.error){
                console.log('1)',result.error.message)
            }else{
                console.log(result['order'][0])
                data = result['order'][0]
                
                document.getElementById(`first_name ${id}`).value =data['first_name']                
                document.getElementById(`last_name ${id}`).value =data['last_name']
                document.getElementById(`address ${id}`).value=data['address']
                document.getElementById(`zipcode ${id}`).value=data['zipcode']
                document.getElementById(`city ${id}`).value=data['city']
                
            }
        })
        .catch(function(error){
            console.log('2)', error)
        });

    }

    function edit_order(event, id){
        event.preventDefault();
        
        
    
        let data = {
            'first_name': document.getElementById(`first_name ${id}`).value,
            'last_name' : document.getElementById(`last_name ${id}`).value,
            'address'   : document.getElementById(`address ${id}`).value,
            'zipcode'   : document.getElementById(`zipcode ${id}`).value,
            'city'      : document.getElementById(`city ${id}`).value,
        }
        
        console.log('edit_order', 'id', id, 'data', data)
        
        fetch(`Orders/${id}/`, {
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{csrf_token}}'
            },
            credentials:'same-origin',
            body: JSON.stringify(data)
            
        })
        .then(function(response){
            return response.json()
        })
       
        .then(function(result){
            console.log(result)
            if(result.error){
                console.log('1)',result.error.message)
            }
        })
        .catch(function(error){
            console.log('2)', error)
        });
        closebtn = document.getElementById(`close${id}`)
        closebtn.click()
        setTimeout(function(){},1500)
        location.reload();
        return false;
    }
</script>

{% endblock scripts %}