{% extends 'core/mainBase.html' %}


{% block title %}Success {% endblock title %}

{% block content %}
<h1 class="mb-6 text-xl">Success</h1>
<p>Thank you for shopping with us!</p>

<!-- Used to make csrftoken appears in HTML template -->
{{ form.as_hidden }}

<div class="table-responsive-sm">
  <table class="table table-bordered table-hover bg-success">
    <thead class="text-white">
      <tr>
        <th scope="col" class="px-6 py-4">
          # Orders
        </th>
        <th scope="col" class="px-6 py-4">
          Verified?
        </th>
        <th scope="col" class="px-6 py-4">
          Name
        </th>
        <th scope="col" class="px-6 py-4">
          Address
        </th>
        <th scope="col" class="px-6 py-4">
          Paid Amount
        </th>
        <th scope="col" class="px-6 py-4">
          -
        </th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr class="bg-white border-b">
        <td class="px-6 py-4 whitespace-nowrap">
          {% if not order.is_paid %}
          <button onclick="verified(event, '{{ order.payment_intent }}')" class="btn btn-primary">
            {{ order.payment_intent }}
          </button>
          {% else %}
            {{ order.payment_intent }}
          {% endif %}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">
          {% if order.is_paid %}
          <span class="badge text-bg-success">Verified</span>
          {% else %}
          <span class="badge text-bg-danger">Not Verified</span>
          {% endif %}
        </td>
        <td class="px-6 py-4 whitespace-nowrap">{{ order.first_name }} {{ order.last_name }}</td>
        <td class="px-6 py-4 whitespace-nowrap">{{ order.address }}, {{ order.zipcode }}, {{ order.city }}</td>
        <td class="px-6 py-4 whitespace-nowrap">${{ order.get_display_price }}</td>
        <td class="px-6 py-4 whitespace-nowrap">
            {% comment%}
            {% include "store/partials/actions_dropdownBtn.html" %}
            {% endcomment %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
                </button>
                <ul class="dropdown-menu">
                    {% if not order.is_shipped %}
                        <li>
                            <!--a class="dropdown-item" href="#">Action</a-->
                            <button onclick="loadOrder(event,'{{order.id}}')" type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal{{order.id}}">
                            Edit Shipping Info
                            </button>
                        </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'order_viewCBV' order.id %}">View Order Page</a></li>
                    {% if not order.is_paid %}
                        <li><a class="dropdown-item" href="{% url 're_order' %}?oid={{order.id}}">Re Order </a></li>                    
                        <li><a class="dropdown-item" href="{% url 're_order_remove' %}?oid={{order.id}}">Delete order</a></li>
                    {% endif %}
                </ul>
            </div>
            
            {% include 'store/partials/modal.html' %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>

<script>
    function verified(event, id){
        
        let data = {'payment_intent':id}
        //fetch('verified/',{
        fetch("{% url 'verified' %}",{            
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{csrf_token}}'
            },
            credentials:'same-origin',
            body: JSON.stringify(data)
        })
        .then(function(response){
            return response.json()
        })        
        .then(function(result){
            location.reload();
        })
        .catch(function(error){
            location.reload();
        });
    }

    function loadOrder(event,id, del=false){
        
        
        let url = `{% url 'order_view' 1234567890 %}`
        
        url = url.replace("1234567890",id)
        
        if(del==true){
            url +='?del=True'
        }
        console.log(url)
        //fetch(`Orders/${id}/`, {
        fetch(url, {
            method: 'GET',
            headers:{
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{csrf_token}}'
            },
            //credentials:'same-origin',
            
            
        })
        .then(function(response){
            return response.json()
        })
       
        .then(function(result){
            if(del==true){
                location.reload();
                return
            }
            if(result.error){
                console.log('1)',result.error.message)
            }else{
                console.log(result['order'][0])
                data = result['order'][0]
                
                document.getElementById(`first_name ${id}`).value =data['first_name']                
                document.getElementById(`last_name ${id}`).value =data['last_name']
                document.getElementById(`address ${id}`).value=data['address']
                document.getElementById(`zipcode ${id}`).value=data['zipcode']
                document.getElementById(`city ${id}`).value=data['city']
                
            }
        })
        .catch(function(error){
            console.log('2)', error)
        });

    }

    function edit_order(event, id){
        event.preventDefault();
        let data = {
            'first_name': document.getElementById(`first_name ${id}`).value,
            'last_name' : document.getElementById(`last_name ${id}`).value,
            'address'   : document.getElementById(`address ${id}`).value,
            'zipcode'   : document.getElementById(`zipcode ${id}`).value,
            'city'      : document.getElementById(`city ${id}`).value,
        }
        
        console.log('edit_order', 'id', id, 'data', data)

        let url = `{% url 'order_view' 1234567890 %}`
        
        url = url.replace("1234567890",id)
        
        fetch(url, {
        
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': '{{csrf_token}}'
            },
            credentials:'same-origin',
            body: JSON.stringify(data)
            
        })
        .then(function(response){
            return response.json()
        })
       
        .then(function(result){
            console.log(result)
            if(result.error){
                console.log('1)',result.error.message)
            }
        })
        .catch(function(error){
            console.log('2)', error)
        });
        closebtn = document.getElementById(`close${id}`)
        closebtn.click()
        setTimeout(function(){},1500)
        //location.reload();
        return false;
    }
</script>

{% endblock scripts %}