{% if messages %}            
    {% for message in messages %}    
        <div class="alert alert-dismissible fade show 
        {% if message.tags == "error" %}
        alert-danger
        {% elif message.tags == "info" %}
        alert-info
        {% elif message.tags == "debug" %}
        alert-light
        {% elif message.tags == "success" %}
        alert-success
        {% elif message.tags == "warning" %}
        alert-warning
        {% endif %}
        " role="alert" data-mdb-color="{{message.tags}}" id="customxD">
            <strong>{{ message }}!</strong>
            <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close">X</button>
        </div>
    {% endfor %}        
{% endif %}

{% if contactForm.errors %}

    {% for field in contactForm %}
    
        {% for error in field.errors %} 
        
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>-{{field.name}}</strong><br>
                 <strong>{{ error|escape }}</strong> <br>

                
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span><small> click me to go section</small></span>    
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
        {% endfor %}
    {% endfor %}
{% endif %}